.rules {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  overflow: scroll;
  flex: 1;
  
}


.rules__body > h1 {
  color: blueviolet;
  font-size: 50px;
  font-weight: 800;
}